:root {
    --cor1: #513021;
    --cor2: #FFF6EC;
    --cor3: #D9BA82;
    --cor4: #E14955;
    --cor5: #0D0D0D;
}

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: black;
    /* background-color: var(--cor1); */
}

.conteudo-esq {
    height: 100vh;
    margin-top: 200px;
    padding-left: 50px;
}

.img-dir {
    width: 710px;
    height: 1080px;
    position: absolute;
    top: -70px;
}

.subtitulo {
    font-weight: bold;
    font-size: 2em;
}

.titulo {
    color: gray;
    font-size: 2em;
    text-transform: uppercase;
}

nav.navbar {
    position: relative;
    z-index: 1;
}